ProductInventoryClient/xml-resources/web-service-references/ProductServicesService/wsdl/localhost_8080/ProductInventoryServices/ProductServicesService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="GetAllProducts" type="tns:GetAllProducts"/>

<xs:element name="GetAllProductsResponse" type="tns:GetAllProductsResponse"/>

<xs:complexType name="GetAllProducts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllProductsResponse">
<xs:sequence>
<xs:element name="ProductList" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>